# Machine Learning Classification Model

##### Creating Classification Models for data available on https://archive.ics.uci.edu/ml/datasets/Chess+%28King-Rook+vs.+King-Pawn%29

##### Trying to predict the chance of White-can-win ("won") and White-cannot-win ("nowin").

##### Describing the dataset: For more informations about how the dataset is organizated see in the file below:

In [48]:
#importing the first modules 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm

with open('dataset/kr-vs-kp.names','r') as arch:
    data_info=arch.readlines()
#data_info

In [49]:
#import the dataset used
data=pd.read_csv('dataset/kr-vs-kp.data',names=[x for x in range(0,37)])
data.head()

  0  1  2  3  4  5  6  7  8  9   ... 27 28 29 30 31 32 33 34 35   36
0  f  f  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
1  f  f  f  f  t  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
2  f  f  f  f  t  f  t  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
3  f  f  f  f  f  f  f  f  t  f  ...  f  f  f  f  f  f  t  t  n  won
4  f  f  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won

[5 rows x 37 columns]

In [50]:
#Starting to convert the data in integer types to augment the processing 
from sklearn.preprocessing import LabelEncoder
trf=LabelEncoder()
data_converted=data.apply(lambda col: trf.fit_transform(col))
data_converted=data_converted.drop(36,axis=1)
data_converted.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

##### Splitting the dataset

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data_converted,data[36],
                                               random_state=0,test_size=0.15)
data_converted[21].unique()

array([0, 1])